
.vs/Send/v15/Server/sqlite3/storage.ide-wal
.vs/Send/v15/Server/sqlite3/storage.ide-shm
.vs/Send/v15/Server/sqlite3/storage.ide
.vs/Send/v15/Server/sqlite3/db.lock
.vs/Send/v15/.suo
.vs/Send/DesignTimeBuild/.dtbcache
*.suo
*.user
_ReSharper.*
bin
Debug
obj
packages
***\bin**
***\obj**
*/bin/*
*/obj/*
*\obj\*
